/* Remove Upto Here */
.triologicaldesign-layout {
  display: flex;
  height: 100vh;
  transition: height 300ms;
}

.triologicaldesign-layout :global .sidebar {
  background-color: var(--sidebar-bg-color);
  overflow: hidden;
  width: 240px;
}

.triologicaldesign-layout :global .main {
  flex-grow: 1;
}

.triologicaldesign-layout :global .main .header {
  background-color: var(--header-bg-color);
  height: 80px;
}

.triologicaldesign-layout :global .main .header .sidebar-opener {
  display: none;
}

.triologicaldesign-layout :global .main .header .sidebar-opener svg {
  width: 34px;
  height: 34px;
  padding: 22px;
  fill: var(--icon-color);
}

.triologicaldesign-layout :global .sidebar .sidebar-closer {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 6px;
  cursor: pointer;
}

.triologicaldesign-layout :global .sidebar .sidebar-closer svg {
  width: 14px;
  height: 14px;
  fill: var(--icon-color)
}

@media only screen and (max-width: 1024px) {
  .triologicaldesign-layout :global .sidebar {
    position: absolute;
    height: 100%;
    transform: translateX(-240px);
    transition: transform 300ms ease-in-out;
    z-index: 2;
  }

  .triologicaldesign-layout :global .sidebar.open {
    transform: translateX(0px);
  }

  .triologicaldesign-layout :global .main .header .sidebar-opener,
  .triologicaldesign-layout :global .sidebar .sidebar-closer {
    display: initial;
  }
}
