.inputs {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 14px;
  height: calc(48px - 28px);

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* width */
.initial {
  width: initial;
}

.full {
  width: calc(100% - 28px);
}

/* variations */
.primary,
.secondary {
  background-color: var(--inputs-bg-color);
  box-shadow: var(--inputs-box-shodow);
  color: var(--inputs-text-color);
}

.primary::placeholder,
.secondary::placeholder {
  color: var(--inputs-placeholder-color);
}

.secondary {
  border-radius: 500px;
}

.tertiary {
  border-radius: 500px;
  background-color: var(--tertiary-input-bg-color);
}

/* PASSWORD */
.password,
.input-with-icon {
  display: inline-block;
  position: relative;
}

.password input {
  padding-right: 48px;
}

/* password icon container */
.password :global .icon,
.input-with-icon :global .icon {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.password :global .icon > svg,
.input-with-icon :global .icon > svg {
  width: 20px;
  height: 20px;
  /* fill: red; */
  fill: var(--icon-color);
}

/* width password container width full */
/* full */
.password-full,
.input-with-icon-full {
  width: 100%;
}

.password-full input,
.input-with-icon-full input {
  width: calc(100% - 60px);
}

/* fit */
.password-initial,
.input-with-icon-initial {
  width: fit-content;
}

.password-initial input,
.input-with-icon-initial input {
  width: 170px;
}

/* CHECKBOX */
.checkbox {
  display: inline-flex;
  position: relative;
  height: 16px;
  width: 16px;
  overflow: hidden;
}

.checkbox svg {
  position: absolute;
  display: none;
  user-select: none;
  pointer-events: none;

  /* changes with variations */
  top: 3px;
  right: 0.8px;
  width: 14px;
  height: 14px;
}

.checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  margin: 0;

  height: inherit;
  width: inherit;
  border: 1px solid var(--checkbox-bg-color);
  border-radius: 4px;
}

.checkbox input[type="checkbox"]:checked {
  background-color: var(--checkbox-bg-color);
}

.checkbox input[type="checkbox"]:checked + svg {
  display: initial;
  fill: var(--checkbox-icon-color);
}

/*  */
.input-with-icon input {
  padding-left: 48px;
}

.input-with-icon :global .icon {
  left: 12px;
}

/* overwrites needed */
.password :global .tertiary-icon,
.input-with-icon :global .tertiary-icon svg {
  fill: var(--tertiary-input-icon-color);
}

/* React Select Input css */
.select-input :global .select-input__control {
  transition: none;
  color: var(--inputs-placeholder-color);
  background-color: var(--inputs-bg-color);
  border: 1px solid var(--input-select-control-border-color);
  box-shadow: none;
}

.select-input :global .select-input__control:hover {
  border: 1px solid var(--input-select-control-border-hover-color);
}

.select-input :global .select-input__single-value {
  color: var(--input-select-single-text-color);
}

.select-input :global .select-input__menu {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  border-radius: 8px;
  background-color: var(--input-select-menu-bg-color);
  padding: 8px 4px 8px 8px;
}

.select-input :global .select-input__menu-list {
  padding: 0;
  padding-right: 4px;
}

.select-input :global .select-input__option:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.select-input :global .select-input__option:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.select-input :global .select-input__option {
  background-color: var(--input-select-option-bg-color);
}

.select-input :global .select-input__option--is-focused {
  background-color: var(--input-select-option-is-focused-bg-color);
}

.select-input :global .select-input__option--is-selected {
  font-weight: 700;
  color: var(--input-select-option-is-selected-text-color);
  background-color: var(--input-select-option-is-selected-bg-color);
}

.select-input :global .select-input__option:active {
  background-color: var(--input-select-option-is-active-bg-color);
}

.select-input :global .select-input__input-container {
  color: var(--primary-text-color);
}


/* sizes for select input */
/* small */
.select-input:global.small {
  font-size: 12px;
}

.select-input:global.small .select-input__control {
  min-height: 28px;
  height: 28px;
}

.select-input:global.small .select-input__value-container {
  min-height: 28px;
  height: 28px;
  padding: 0 6px;
}

.select-input:global.small .select-input__input {
  border: 1px solid red;
  margin: 0;
}

.select-input:global.small .select-input__indicators {
  height: 28px;
}

.select-input:global.small .select-input__option {
  height: 28px;
  padding: 5px 12px;
}