.option-selector-container {
  position: absolute;
  z-index: 1;
  right: 0;
  width: fit-content;
  height: fit-content;
  pointer-events: none;
}

.option-selector-container :global .opener {
  position: absolute;
  right: 0;
  padding: 4px;
  pointer-events: all;
}

.option-selector-container :global .opener svg {
  width: 24px;
  height: 24px;
  user-select: none;
  pointer-events: none;
  fill: var(--icon-color);
}

.option-selector {
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--bg-color);
  -webkit-box-shadow: -2px 22px 86px -9px var(--option-selector-shadow-color);
  -moz-box-shadow: -2px 22px 86px -9px var(--option-selector-shadow-color);
  box-shadow: -2px 22px 86px -9px var(--option-selector-shadow-color);
  border-bottom-left-radius: 8px;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 300ms ease-in;
}

.option-selector:global.open {
  transform: scale(1);
  pointer-events: all;
}

.option-selector :global .title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--secondary-border-color);
}

.option-selector :global .option {
  margin: 20px 0 20px 0;
}

.option-selector :global .collapse-box,
.option-selector :global .logout-box {
  display: flex;
  align-items: center;
}

.option-selector :global .collapse-box-toggler,
.option-selector :global .logout-button {
  display: flex;
  margin-left: 10px;
}

.option-selector :global .collapse-box-toggler svg,
.option-selector :global .logout-button svg {
  fill: var(--icon-color);
  width: 14px;
  height: 14px;
}

.option-selector :global .logout-box {
  cursor: pointer;
}

.option-selector :global .profile {
  cursor: pointer;
}

.option-selector :global .profile:hover > label {
  color: var(--primary-color);
}

.option-selector :global .profile:hover {
  pointer-events: all;
}

.option-selector :global .profile .profile-data {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

.option-selector :global .profile:hover .profile-data {
  max-height: 400px;
  opacity: 1;
  transition: max-height 300ms ease-in, opacity 300ms ease-out;
}

.option-selector :global .profile .profile-data .data-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0 4px 0;
  padding: 4px 2px 4px 2px;
}

.option-selector :global .profile .profile-data .data-item > label:first-child {
  margin-right: 8px;
}
