.container :global .heading {
  margin-bottom: 16px;
  font-family: var(--link-font-style);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.container :global .heading div:first-child {
  font-size: 21px;
}

.container :global .heading div:nth-child(2) {
  font-size: 13px;
  cursor: pointer;
}

/* song card container */
.song-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

/* image card container */
.image-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

/* content-card-container */
.content-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 600px) {
  .song-card-container {
    grid-template-columns: repeat(1, 100%);
  }

  .content-card-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .image-card-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
