.button {
  outline: none;
  border: none;
  line-height: normal;
  cursor: pointer;
  
  /* changes may be required */
  height: 48px;
  letter-spacing: 1.5px;
  padding: 0 20px;
  border-radius: 500px;
  font-family: var(--primary-font-style);
  font-size: px;
  font-style: normal;
  font-weight: 700;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* handle children text */

.button-children {
  margin: 0 10px 0 10px;
}

/* width */
.full {
  width: 100%;
}

.fit {
  width: fit-content;
}

/* variations */

.primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: none;
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-border-color);
}

.blue {
  background-color: var(--blue-color);
  color: white;
}