.button {
  outline: none;
  border: none;
  line-height: normal;
  cursor: pointer;

  /* changes may be required */
  height: 48px;
  letter-spacing: 1.5px;
  padding: 0 20px;
  border-radius: 500px;
  font-family: var(--primary-font-style);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:disabled {
  opacity: 0.5;
}

/* handle children text */

.button-children {
  margin: 0 10px 0 10px;
}

/* width */
.full {
  width: 100%;
}

.fit {
  width: fit-content;
}

/* variations */

.primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: none;
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-border-color);
}

.blue {
  background-color: var(--blue-color);
  color: white;
}

/* play pause button */
.play-pause-button {
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-pause-button svg {
  fill: var(--primary-text-color);
}

/* sizes */
.play-pause-button:global.large {
  width: 56px;
  height: 56px;
}
.play-pause-button:global.large svg {
  width: 20px;
}

.play-pause-button:global.pause.large svg {
  margin-left: 4px;
}

.play-pause-button:global.medium {
  width: 32px;
  height: 32px;
}

.play-pause-button:global.medium svg {
  width: 10px;
}

.play-pause-button:global.pause.medium svg {
  margin-left: 2px;
}