[data-theme="dark"] {
  --bg-linear-gradient: linear-gradient(180deg, #00000099 0%, #121212 100%);
  --bg-color: #333333;

  --primary-color: #1ed760;
  --primary-text-color: #ffffff;
  --primary-font-style: Inter;

  --secondary-color: #333333;
  --secondary-text-color: #e6e6e6;
  --secondary-border-color: #878787;

  /* inputs */
  --inputs-box-shodow: 0px 0px 0px 1px #e8e8e8 inset;
  --inputs-bg-color: #333333;
  --inputs-text-color: #ffffff;
  --inputs-placeholder-color: #979797;

  /* play pause button primary */
  --play-pause-primary-button-bg-color: #1ed760;
  --play-pause-primary-button-svg-color: #ffffff;

  /* play pause button secondary */
  --play-pause-secondary-button-bg-color: #ffffff;
  --play-pause-secondary-button-svg-color: #000000;

  /* labels */
  --label-text-color: #ffffff;

  /* icon colors */
  --icon-color: #e8e8e8;
  --logo-color: #ffffff;

  /* links colors */
  --link-text-color: #ffffff;

  /* checkbox colors */
  --checkbox-bg-color: #12e05a;
  --checkbox-icon-color: #ffffff;

  /* sidebar */
  --sidebar-bg-color: #000000;
  --sidebar-color-inactive: #b3b3b3;
  --sidebar-color-active: #ffffff;

  /* headers */
  --header-bg-color: #555555;

  /* skeleton */
  --skeleton-bg-color: #4e4e4e;

  /* option select */
  --option-selector-shadow-color: #ffffffbf;

  /* input selector */
  --input-select-control-border-color: #a0a0a0;
  --input-select-control-border-hover-color: #ffffff;
  --input-select-single-text-color: #d2d2d2;
  --input-select-menu-bg-color: #3e3e3e;
  --input-select-option-bg-color: #656565b3;
  --input-select-option-is-focused-bg-color: #a1a1a1;
  --input-select-option-is-selected-bg-color: #00ff00c8;
  --input-select-option-is-selected-text-color: #ffffff;
  --input-select-option-is-active-bg-color: #00ff00;

  /* song card */
  --song-card-bg-color: #181818;
  --song-card-description-color: #a7a7a7;
  --song-card-song-name-color: #ffffff;
  --song-card-menu-color: #ffffff80;
  --song-card-menu-hover-color: #ffffff;
  /* song card options */
  --song-card-options-bg-color: #3a3a3a;
  --song-card-option-hover-color: #f0f8ff;

  /* content card */
  --content-card-bg-color: #1d1d1d;
  --content-card-icon-bg-color: #3a3a3a;
  --content-card-icon-color: #d1d1d1;
  --content-card-title-color: #b4b4b4;
  /*content card hover */
  --content-card-bg-hover-color: #000000;
  --content-card-icon-bg-hover-color: #5e5e5e;
  --content-card-icon-hover-color: #ffffff;
  --content-card-title-hover-color: #ffffff;

  /* image card */
  --image-card-title-bg-color: #000000b0;
  --image-card-title-bottom-bg-color: #000000b0;
  --image-card-title-color: #ffffff;

  /* load more card */
  --load-more-card-bg-gradient: linear-gradient(
    355deg,
    #000000 0%,
    #000000 20%,
    #525556 100%
  );

  /* album with songs container background */
  --album-with-songs-bg-color: #323232;
  --artist-with-songs-bg-color: #323232;

  /* song card landscape */
  --song-card-landscape-text-color: #ffffffbf;
  --song-card-landscape--song-name-text-color: #ffffff;
  --song-card-landscape-selected: #5b5b5b41;

  /* playlist card */
  --playlist-card-border-bottom-color: #88888852;
  --playlist-card-border-bottom-hover-color: #c1c1c1e1;

  /* playlist card container */
  --playlist-card-container-bg-color: #000000;

  /* music player */
  --musicplayer-bg-color: #181818;

  /* music player details */
  --musicplayer-details-title-color: #ffffff;
  --musicplayer-details-album-and-artists-color: #b3b3b3;
  --musicplayer-icons-color: #ffffff;
  --musicplayer-liked-song-icon-color: #ff0000;

  /* music player */ /* timer range */
  --timer-range-bg: #9595958e;
  --timer-range-completed-upto-color: #ffffff;
  --timer-range-thumb-color: #ffffff;
  --timer-range-thumb-focused-box-shadow: #ffffff71 0px 0px 0px 8px;

  /* music player buttons */
  --music-button-active-color: #1DB954;

    /* music-player-playlist */
    --music-player-playlist-bg-color: #000000;

    /* spectro gradient */
  --spectro-gradient: linear-gradient(-45deg, black, red, green, blue)
}
