/* text cases */
.upper-case {
  text-transform: uppercase !important;
}

.lower-case {
  text-transform: lowercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.none-text-case {
  text-transform: none !important;
}

/* underline */
.underline-none {
  text-decoration-line: none !important;
}

.underline {
  text-decoration-line: underline;
}

/* custom scroll bar */
.primary-scroll-bar::-webkit-scrollbar {
  width: 4px;
}

.primary-scroll-bar::-webkit-scrollbar-track {
  background: #d8d8d8;
  border-radius: 8px;
}

.primary-scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.primary-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* truncate text */
.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

/* hide arrows from number input */
.remove-arrows-from-input::-webkit-outer-spin-button,
.remove-arrows-from-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.remove-arrows-from-input {
  -moz-appearance: textfield;
}
