/*
Types
::::::::::
CFAT - Constants For All Themes
::::::::::
*/

:root,
[data-theme="light"] {
  --bg-linear-gradient: linear-gradient(180deg, #ffffff99 0%, #6d6d6d 100%);
  --bg-color: #e9e9e9;

  --primary-color: #1ed760;
  --primary-text-color: #000;
  --primary-font-style: Inter;

  --secondary-color: #ffffff;
  --secondary-text-color: #6a6a6a;
  --secondary-border-color: #878787;

  /* inputs */
  --inputs-box-shodow: 0px 0px 0px 1px #878787 inset;
  --inputs-bg-color: #fff;
  --inputs-text-color: black;
  --inputs-placeholder-color: #6a6a6a;

  /* labels */
  --label-text-color: #000;

  /* icon colors */
  --icon-color: #6a6a6a;
  --logo-color: #000000;

  /* links colors */
  --link-text-color: #000;

  /* checkbox colors */
  --checkbox-bg-color: #169b45;
  --checkbox-icon-color: #ffffff;

  /* sidebar */
  --sidebar-bg-color: #bebebe;
  --sidebar-color-inactive: rgba(0, 0, 0, 0.5);
  --sidebar-color-active: #000000;

  /* headers */
  --header-bg-color: #dbdbdb;

  /* skeleton */
  --skeleton-bg-color: #9c9c9c;

  /* option select */
  --option-selector-shadow-color: #000000bf;

  /* input selector */
  --input-select-control-border-color: #d5d5d5;
  --input-select-control-border-hover-color: #c3c3c3;
  --input-select-single-text-color: #464646;
  --input-select-menu-bg-color: #ffffff9e;
  --input-select-option-bg-color: #e1e1e1;
  --input-select-option-is-focused-bg-color: #d5d5d5;
  --input-select-option-is-selected-bg-color: #00ccffcd;
  --input-select-option-is-selected-text-color: #000000;
  --input-select-option-is-active-bg-color: #00ccff;

  /* song card */
  --song-card-bg-color: #c0c0c0;
  --song-card-description-color: #2c2c2c;
  --song-card-song-name-color: #000000;
  --song-card-menu-color: #6e6e6e80;
  --song-card-menu-hover-color: #000000;
  /* song card options */
  --song-card-options-bg-color: #ececec;
  --song-card-option-hover-color: #3246b8;

  /* content card */
  --content-card-bg-color: #d6d6d6;
  --content-card-icon-bg-color: #a1a1a1;
  --content-card-icon-color: #505050;
  --content-card-title-color: #b4b4b4;
  /*content card hover */
  --content-card-bg-hover-color: #ffffff;
  --content-card-icon-bg-hover-color: #ececec;
  --content-card-icon-hover-color: #080808;
  --content-card-title-hover-color: #080808;

  /* image card */
  --image-card-title-bg-color: #f3f3f3b0;
  --image-card-title-bottom-bg-color: #c5c5c5b0;
  --image-card-title-color: #000000;

  /* load more card */
  --load-more-card-bg-gradient: linear-gradient(
    355deg,
    #bfbfbf 0%,
    #c5c5c5 20%,
    #525556 100%
  );

  /* album & artist with songs container background */
  --album-with-songs-bg-color: #cccccc;
  --artist-with-songs-bg-color: #cccccc;

  /* song card landscape */
  --song-card-landscape-text-color: #000000bf;
  --song-card-landscape--song-name-text-color: #000000;
  --song-card-landscape-selected: #ffffff9c;

  /* playlist card */
  --playlist-card-border-bottom-color: #88888852;
  --playlist-card-border-bottom-hover-color: #c1c1c1e1;

  /* playlist card container */
  --playlist-card-container-bg-color: #ffffff;

  /* music player */
  --musicplayer-bg-color: #c0c0c0;

  /* music player details */
  --musicplayer-details-title-color: #000000;
  --musicplayer-details-album-and-artists-color: #2f2f2f;
  --musicplayer-icons-color: #3b3b3b;
  --musicplayer-liked-song-icon-color: #ff0000;

  /* music player */ /* timer range */
  --timer-range-bg: #f3f3f3;
  --timer-range-completed-upto-color: #00ff22;
  --timer-range-thumb-color: #00ff22;
  --timer-range-thumb-focused-box-shadow: #00ff2298 0px 0px 0px 8px;

  /* CFAT */
  --blue-color: #1877f2;

  /* CFAT Errors */
  --error-text-color: #ff0000;

  /* CFAT loader */
  --loader-border-primary-color: #f3f3f3;
  --loader-border-top-primary-color: #1ed760;

  --loader-border-secondary-color: #ffffff;
  --loader-border-top-secondary-color: #f2ff00;

  /* CFAT Icon font style */
  --icon-font-style: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  /* CFAT link font style */
  --link-font-style: Helvetica;

  /* CFAT Inputs */
  --tertiary-input-bg-color: #ffffff;
  --tertiary-input-icon-color: #000000;
}
