#create-playlist-main-screen {
    position: absolute;
    height: 80vh;
    width: 100vw;
    top: 0;
    left: 0;
    // border: 1px solid red;
    display: flex;
    // z-index: 200;
    justify-content: center;
    align-items: center;

    .form-container {
        background-color: rgb(46, 46, 46);
        box-shadow: 0 0 50px black;
        color: white;

        width: 30%;
        height: 220px;
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;;

        .cross-button {
            display: flex;
            justify-content: right;
            padding-right: 20px;

            color: #181818;
            transition: color 300ms;
        }

        .cross-button:hover {
            color: white;
        }

        form {
            padding: 10px;
            .title {
                font-size: 24px;
                margin-bottom: 20px;
            }

            input {
                width: calc(100% - 30px);
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 25px;
                padding-left: 24px;
            }

            .error {
                color: rgb(245, 44, 44);
                padding-left: 10px;
                padding-top: 2px;
                font-size: 12px;
                height: 14px;
            }

            button {
                width: 100%;
                border: none;
                outline: none;
                border-radius: 25px;
                padding: 10px;
                margin-top: 10px;
                font-weight: 600;
                background: #1ED760;
                color: white;
                text-transform: uppercase;
            }

            button:disabled {
                background: #1ed75f7a;
            }

            .success {
                color: #1ED760;
                font-size: 14px;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}