.SearchHeader {
    background-color: #181818;
    display: flex;
    align-items: center;
    color: white;
    height: 80px;
    padding-left: 20px;

    input[type=text] {
        outline: none;
        border: none;
        padding: 10px 10px 10px 20px;
        border-radius: 25px;
        margin-right: 20px;
    }

    input[type=number] {
        outline: none;
        border: none;
        padding: 10px 10px 10px 20px;
        border-radius: 25px;
        margin-right: 20px;
    }

    .drop-down-container {
        position: relative;
        cursor: pointer;
        .current {
            padding: 12px;
            border-radius: 25px;
            border: 1px solid #848484;
            transition: 300ms all;
        }

        .drop-down-for-filter {
            position: absolute;
            display: none;
            width: 140px;
            left: 10px;
            background-color: #4b4b4b;
            border-radius: 6px;
            transition: 300ms all;
            z-index: 200;

            div {
                padding: 12px;
                border-radius: 6px;
                transition: 300ms all;
            }

            div:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .drop-down-container:hover .drop-down-for-filter {
        display: block;
    }

    .drop-down-container:hover .current {
        border: none;
    }


    .search-song-pagination {
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div:first-child {
            button {
                border: none;
                outline: none;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                padding: 6px;
                margin-right: 10px;
                color: #FFFFFF;
                background-color: #090909;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            button:disabled {
                background-color: #303030b6;
                color: rgba(255, 255, 255, 0.149);
            }
        }

        div:last-child {
            color: rgb(199, 199, 199);
        }
    }
}
