.link {
  color: var(--link-text-color);
  font-family: var(--link-font-style);

  font-style: normal;

  
  line-height: normal;
  text-decoration-line: underline;
}

/* sizes */
.large {
  font-size: 24px;
}

.medium {
  font-size: 16px;
}

.small {
  font-size: 12px;
}

/* varients */
.primary {
  font-weight: 400;
}

.secondary {
  font-weight: 700;
}