.music-player-playlist {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 48px);
  height: calc(100% - 138px);
  padding: 24px;
  z-index: 1000;
  transition: transform 300ms ease-in;
  transform: scale(0);
  overflow-y: auto;
}

.music-player-playlist:global.active {
  transform: scale(1);
}
