.music-player {
  position: fixed;
  bottom: 0;

  background-color: var(--musicplayer-bg-color);

  height: 58px;
  width: 100vw;
  transform: translateY(90px);
  transition: transform 300ms;
}

.music-player:global.open {
  transform: translateY(0);
}

/* timer-range */
.music-player :global .timer-range {
  top: 0px;
}

.music-player:global.open .timer-range {
  top: -2px;
}

.music-player :global .timer-range {
  position: absolute;
  left: -2px;
  height: 2px;
  width: 100%;
  outline: none;
}

.music-player :global .timer-range {
  cursor: pointer;
  -webkit-appearance: none;
  height: 3px;
  background: var(--timer-range-bg);
  border-radius: 5px;
  background-image: linear-gradient(
    var(--timer-range-completed-upto-color),
    var(--timer-range-completed-upto-color)
  );
  background-repeat: no-repeat;
}

.music-player :global .timer-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background: var(--timer-range-thumb-color);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.music-player :global .timer-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.music-player :global .timer-range::-webkit-slider-thumb:hover {
  box-shadow: var(--timer-range-thumb-focused-box-shadow);
}

.music-player :global .timer-range::-webkit-slider-thumb:active {
  box-shadow: var(--timer-range-thumb-focused-box-shadow);
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* blocks sizing */
.music-player {
  display: flex;
  align-items: center;
  padding: 16px;
}

/* block-1 details */

.music-player :global .block-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  width: 204px;
}

.music-player :global .block-1 .details {
  max-width: 204px;
  width: 100%;
  margin-right: 16px;
}

.music-player :global .block-1 .details .title {
  color: var(--musicplayer-details-title-color);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 4px;
}

.music-player :global .block-1 .details .artists,
.music-player :global .block-1 .details .album {
  color: var(--musicplayer-details-album-and-artists-color);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 4px;
}

.music-player :global .block-1 .details .album {
  margin-bottom: 0px;
}

.music-player :global .block-1 .like-button {
  cursor: pointer;
}

.music-player :global .block-1 .like-button svg {
  pointer-events: none;
}

.music-player :global .block-1 .like-button svg {
  width: 16px;
  height: 16px;
  fill: var(--musicplayer-icons-color);
}

.music-player :global .block-1 .like-button.liked svg {
  fill: var(--musicplayer-liked-song-icon-color);
}

/* buttons */
.music-player :global .buttons {
  height: 100%;
  flex-grow: 1;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player :global .buttons .music-button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 16px 0 16px;
}

.music-player :global .buttons .music-button svg {
  fill: var(--musicplayer-icons-color);
  width: inherit;
  height: inherit;
}

.music-player :global .buttons .music-player-play-pause-button {
  margin: 0 8px 0 8px;
}

.music-player :global .buttons .music-button.repeat-state.active svg,
.music-player :global .buttons .music-button.random-state.active svg {
  fill: var(--music-button-active-color);
}

/* options */
.music-player :global .options {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 240px;
  width: fit-content;
  margin-right: 34px;
}

.music-player :global .options .option {
  cursor: pointer;
  margin-right: 16px;
}

.music-player :global .options .option.deactive {
  opacity: 0.5;
}

.music-player :global .options .option.deactive:hover {
  opacity: 0.75;
}

.music-player :global .options .option.active {
  opacity: 1;
}

.music-player :global .options .option svg {
  fill: var(--musicplayer-icons-color);
  width: 18px;
  height: 18px;
  pointer-events: none;
}

/* volume option */
.music-player :global .options .volume-option {
  display: flex;
  align-items: center;
}

.music-player :global .volmue-range {
  margin-left: 8px;
  height: 2px;
  width: 110px;
  /* width: 100%; */
  outline: none;
}

.music-player :global .volmue-range {
  cursor: pointer;
  -webkit-appearance: none;
  height: 3px;
  background: var(--timer-range-bg);
  border-radius: 5px;
  background-image: linear-gradient(
    var(--timer-range-completed-upto-color),
    var(--timer-range-completed-upto-color)
  );
  background-repeat: no-repeat;
}

.music-player :global .volmue-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background: var(--timer-range-thumb-color);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.music-player :global .volmue-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.music-player :global .volmue-range::-webkit-slider-thumb:hover {
  box-shadow: var(--timer-range-thumb-focused-box-shadow);
}

.music-player :global .volmue-range::-webkit-slider-thumb:active {
  box-shadow: var(--timer-range-thumb-focused-box-shadow);
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* media query for music player */
@media only screen and (max-width: 820px) {
  .music-player :global .block-1 {
    width: 25%;
  }

  .music-player :global .block-1 .like-button {
    display: none;
  }

  .music-player :global .options .option {
    display: none;
  }
  .music-player :global .options .option:last-child {
    display: flex;
  }
}

@media only screen and (max-width: 596px) {
  .music-player :global .block-1 {
    min-width: 20px;
    width: 40%;
  }
  .music-player :global .block-1 .like-button {
    display: none;
  }

  .music-player :global .buttons {
    justify-content: flex-end;
  }

  .music-player :global .options {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .music-player :global .block-1 {
    min-width: 20px;
    width: 100%;
  }
  .music-player :global .buttons .random-state,
  .music-player :global .buttons .repeat-state,
  .music-player :global .buttons .previous-button {
    display: none;
  }
}
