.album-with-songs {
  background-color: var(--album-with-songs-bg-color);
  height: calc(100% - 48px);
  padding: 24px;
  display: flex;
  align-items: center;
}

.album-with-songs :global .album-info {
  margin-right: 24px;
}

.album-with-songs :global .album-info .image-container img {
  width: 300px;
  height: 300px;
}

.album-with-songs :global .album-info .skeleton {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.album-with-songs :global .songs {
  flex-grow: 1;
  height: fit-content;
  padding: 24px;
  max-height: calc(100% - 48px);
  overflow-y: auto;
}

.album-with-songs :global .songs .song-item {
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .album-with-songs {
    flex-direction: column;
  }

  .album-with-songs :global .album-info .image-container img {
    width: 180px;
    height: 180px;
  }

  .album-with-songs :global .album-info .skeleton {
    width: 180px;
    height: 180px;
  }

  .album-with-songs :global .album-info {
    margin-right: 0;
  }

  .album-with-songs :global .songs {
    margin-top: 24px;
    width: 100%;
  }
}
