.album-with-songs {
  background-color: #323232;
  height: calc(100% - 48px);
  padding: 24px;
  display: flex;
  align-items: center;
}

.album-with-songs :global .album-info {
}

.album-with-songs :global .album-info .image-container {
  margin-right: 40px;
}

.album-with-songs :global .album-info .image-container img {
  width: 300px;
  height: 300px;
}

.album-with-songs :global .album-info .image-container .skeleton {
  width: 300px;
  height: 300px;
}

.album-with-songs :global .songs {
    flex-grow: 1;
    height: 100%;
    border: 1px solid red;
    overflow-y: auto;
}
